* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-box {
    height: 40vmin;
    width: 40vmin;
    background-color: purple;
}

#main-box:hover{
    transform: scale(1.5)  translateY(-20%) skewX(45deg);
    transition:0.5s ;
}