* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.newDiv {
    height: 60vh;
    width: 60vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent {
    height: 40vh;
    width: 40vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#child {
    height: 20vh;
    width: 20vh;
    background-color: greenyellow;
}